
body{
    background-color:rgb(247, 243, 243);
    font-family:roboto; 
    margin: 0px;
    padding-top: 82px;
    padding-left: 92px;
    padding-right:10px;
   
}
.grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;
    max-width: max-content;
    
}
@media (max-width:700px){
    .grid-main{
        grid-template-columns: 1fr;
    }
}
@media (min-width:601px) and (max-width:800px){
    .grid-main{
        grid-template-columns: 1fr 1fr;
    }

}
    @media (min-width:1000px){
        .grid-main{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
.div-main{
    row-gap: 40px;
    width:400px;
} 
.title-name{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:8px;
}
.channel-name{
     margin-top:5px;
    margin-bottom:2px;
    font-size: 14px;
    color:rgb(96, 96, 96);
}
.video-stats{
    margin-top: 2px;
    font-size: 14px;
    color:rgb(96, 96, 96);

}
.preview-grid{
    position: relative;

}
.preview-img{
    
    width: 100%;
}

.channel-profile{
    width: 40px;
    border-radius:20px;
   
}

.video-info{
  display: inline-block;
    width: 300px;
    
}
.input{
    display: block;
    margin-bottom: 30px;
    width: 600px; 
    background-color:rgb(206, 29, 29);
    margin: 0px;
}
.video-info-grid{
     display: inline-block;
    display:grid;
    grid-template-columns: 50px 1fr;
    
    
}
.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
  }
  